html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body, #main, #container {
    color: white;
}

.flex-col-space-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main, #container {
    height: 100%;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.navigation>div {
    height: 20%;
    border: 1px solid gray;    
}

.navigation>div>a {
    color: white;
}

.navigation>div>a:visited {
    color: gold;
}

#container {
    background: url(/www/pictures/1.jpg) no-repeat;
    background-size: cover;
}

#header, #footer {
    width: 100%;
    text-align: center;
    background: black;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.users>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}