html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url(/www/pictures/1.jpg) no-repeat;
    background-size: cover;
}

#main, #container {
    height: 100%;
    width: 100%
}